<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body th:object="${book}">
<div class="container" style="max-width: 600px; margin-top: 50px">
    <h3 class="page-header">Register</h3>
    <div class="well">
        <p><strong>Name of Book</strong> <span th:text="*{name}"> </span></p>
        <p><strong>Author</strong> <span th:text="*{author}"> </span></p>
        <p><strong>Description</strong> <span th:text="*{description}"> </span></p>
        <p><strong>Status</strong> <span th:text="*{status}"> </span></p>
    </div>


</div>




<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script
        src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
</body>
</html>